/*==================
 google font link
 ================== */
 @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Oswald:wght@400;600&family=Poppins:wght@500&family=Roboto&family=Source+Sans+Pro:wght@400;600&display=swap');

 /*===============
  universel style 
  ===============*/
 *{
     margin:0;
     padding: 0;
     box-sizing: border-box;
 }
 /*============
  universel style
  ============== */
 body{
     background-color: #FFFFFF;
     font-family: 'Source Sans Pro', sans-serif;
 }
 .main{
     display: flex;
     align-items: center;
     flex-direction: column;
 }
 /*=================
  header part start
  ===================*/
 .containar{
     max-width: 1200px;
     margin: 0 auto;
 }
 .navigation{
     display:grid;
     grid-template-columns: repeat(2,1fr);
     
     height: 90px;
     align-items: center;
 }
 .title-1 {
     font-size: 25px;
     color: #2f2f2f;
 }
 .list-item{
     display:flex;
     justify-content: flex-end;
 }
 .list-item li{
     list-style: none;
 }
 .list-item li a{
     text-decoration: none;
     color:#3A3A3A;
     font-size: 20px;
     padding: 15px 23px;
     font-weight: 600;
 }
 /* ==============
 first section styles 
 ==================*/
 .influencer-raper{
     display: grid;
     grid-template-columns: repeat(2,1fr);
 }
 .influencer-info{
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: flex-start;
 }
 .influencer-title{
     font-size: 50px;
     color: #0b0b0b;
 }
 .influencer-details {
     font-size: 21px;
     line-height: 26px;
     margin: 15px 0px;
 }
 .influencer-button {
     padding: 12px 25px;
     outline: none;
     border: none;
     background: #2e67ff;
     border-radius: 25px;
     font-size: 16px;
     font-weight: 600;
     color: white;
     margin-top: 15px;
 }
 .influencer-img {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 450px;
     width: 600px;
     margin-top: 50px;
     margin-left: 50px;
     border: 25px solid;
     border-image: linear-gradient(
         90deg  ,#ef3f70,#222222,#6e91ef);
     border-image-slice: 1;
     animation-name: slider;
     animation-duration: 2.5s;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
 }
 /*=============
  animation part
  ============== */
 @keyframes slider {
     0%{
         border:25px solid;
         border-image: linear-gradient(
         90deg,#6e91ef,#ef3f70,#222222);
         
     }
     50%{
         border:5px solid;
         border-image: linear-gradient(
       90deg,#ef3f70,#6e91ef,#222222);
         
             
             
     }
     100%{
         border-image: linear-gradient(
             90deg,#ef3f70,#222222,#6e91ef);
       
        
     }
 }
 /*==============
  second section part
  ================ */
 .containar-2{
     width: 1000px;
     margin: 0 auto;
     margin-top: 100px;
 }
 .section-title-2{
     text-align: center;
     margin-bottom: 50px;
     margin-top: 50px;
 }
 .heading-title {
     font-size: 35px;
     color: #0b0b0b;
     border-bottom: 3px solid #ff2e61;
     display: inline-block;
 }
 .products-info {
     width: 300px;
     box-shadow: 5px 1px 20px 0px #c4c4c4;
     padding: 15px;
     border-radius: 5px;
 }
 .products-info img {
     width: 100%;
     height: 200px;
     border-radius: 6px;
 }
 .products-details{
     padding-bottom: 50px;
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-gap: 30px 0px;
 }
 
 h2.product-title {
     font-weight: 600;
     font-size: 26px;
     margin-top: 16px;
 }
 
 .price {
     font-size: 22px;
     padding: 5px 0px;
     font-family: arial black;
     color: #1a95ff;
 }
 
 .ratting {
     font-size: 12px;
     color: #ff4700;
 }
 
 .product-detail {
     font-size: 19px;
     color: #2f2e2e;
     font-weight: 600;
     font-family: roboto;
     margin-top: 7px;
 }
 p.icon-more {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 50px;
    font-size: 22px;
    color: #0089ff;
    font-weight: 600;
}
 /*================
  third section styles
  =================== */
 .update-detail {
     display: grid;
     grid-template-columns:repeat(2,1fr);
     margin-bottom: 100px;
 }
 
 .update-img img {
     width: 500px;
     border-radius: 25px;
     margin-left: 30px;
     box-shadow: 2px 0px 7px 0px #c1b2b2;
 }
 
 .raper {
     display: flex;
     flex-direction: column;
     justify-content: center;
 }
 
 h1.update-title-1 {
     font-size: 40px;
     margin-bottom: 14px;
     font-family: arial;
     color: #343434;
 }
 
 h2.update-title-2 {
     font-size: 25px;
 }
 
 .input-fild {
     border: 1px solid #c1c1c1;
     width: 400px;
     display: flex;
     margin-top: 20px;
     justify-content: space-between;
     padding: 12px 29px;
     border-radius: 25px;
     align-items: center;
     color: #403d3d;
 }
 
 .input-fild input {
     outline: none;
     border: none;
     font-size: 17px;
 }
 /* footer part start */
 footer {
     padding: 40px 0px;
     text-align: center;
     background: #03041f;
     color: white;
     line-height: 29px;
    
 }
 footer a {
     margin-right: 15px;
     color: white;
     background: #2e67ff;
     height: 40px;
     width: 40px;
     display: inline-block;
     border-radius: 20px;
     padding: 5px;
     margin-top: 15px;
 }
 /* mobile device only */
 
 @media (max-width:668px) {
    
     .influencer-raper,.products-details,.update-detail{
         grid-template-columns: repeat(1,1fr);
     }
     .influencer-info{
         width: 250px;
     }
     .influencer-img{
         width: 300px;
     }
     .containar-2{
         width: 100%;
     }
     .containar{
         width: 100%;
     }
     .raper{
         margin-bottom: 50px;
     }
     .section-title-2{
         text-align: center;
     }
     .products-info{
         margin: 0 auto;
     }
     .influencer-title{
         font-size: 30px;
     }
     .influencer-details{
         font-size: 16px;
     }
 }
 /* tab design only */
 
 @media Only screen and (min-width:668px)and (max-width:992px){
     .influencer-raper,.products-details,.update-detail{
         grid-template-columns: repeat(2,1fr);
     }
     .containar{
         width: 100%;
     }
     .containar-2{
         width: 100%;
     }
     .products-info{
         margin: 0 auto;
     }
     
 }
 /*===========
 end 
 =============*/
 