@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Oswald:wght@400;600&family=Poppins:wght@500&family=Roboto&family=Source+Sans+Pro:wght@400;600&display=swap');

/* universel style */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* universel style */
body{
    background-color: #FFFFFF;
    font-family: 'Source Sans Pro', sans-serif;
}
/* header part start */
.containar{
    max-width: 1200px;
    margin: 0 auto;
}
.navigation{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    
    height: 90px;
    align-items: center;
}
.title-1 {
    font-size: 25px;
    color: #2f2f2f;
}
.list-item{
    display:flex;
    justify-content: flex-end;
}
.list-item li{
    list-style: none;
}
.list-item li a{
    text-decoration: none;
    color:#3A3A3A;
    font-size: 20px;
    padding: 15px 23px;
    font-weight: 600;
}
.influencer-raper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.influencer-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.influencer-title{
    font-size: 50px;
    color: #0b0b0b;
}
.influencer-details {
    font-size: 21px;
    line-height: 26px;
    margin: 15px 0px;
}
.influencer-button {
    padding: 12px 25px;
    outline: none;
    border: none;
    background: #2e67ff;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin-top: 15px;
}
.influencer-img{display: flex;align-items: center;justify-content: center;}
/* first section part */
.containar-2{
    width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
}
.section-title-2{
    text-align: center;
    margin-bottom: 50px;
}
.heading-title {
    font-size: 35px;
    color: #0b0b0b;
    border-bottom: 3px solid #ff2e61;
    display: inline-block;
}
.products-info {
    width: 300px;
    box-shadow: 5px 1px 20px 0px #c4c4c4;
    padding: 15px;
    border-radius: 5px;
}
.products-info img {
    width: 100%;
    height: 200px;
    border-radius: 6px;
}
.products-details{
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px 0px;
}

h2.product-title {
    font-weight: 600;
    font-size: 26px;
    margin-top: 16px;
}

.price {
    font-size: 22px;
    padding: 5px 0px;
    font-family: arial black;
    color: #1a95ff;
}

.ratting {
    font-size: 12px;
    color: #ff4700;
}

.product-detail {
    font-size: 19px;
    color: #2f2e2e;
    font-weight: 600;
    font-family: roboto;
    margin-top: 7px;
}
/* another section start */
.update-detail {
    background-image: url('../images/web-images/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 100px;
    padding: 80px 0px;
}
.update-info{
    width: 799px;
    margin-left: 40px;
    color: #2b2828;
    font-family: arial;
}
.input-fild input {
    outline: none;
    border: none;
}

.input-fild {
    border: 1px solid gray;
    width: 550px;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    border-radius: 25px;
    margin-top: 30px;
    font-size: 25px;
    height: 50px;
    align-items: center;
    color: #413f3f;
}

h1.update-title-1 {
    font-size: 35px;
}

h2.update-title-2 {
    font-size: 25px;
    margin: 15px 0px;
}

.input-fild input {
    font-size: 20px;
    background: #e5e5e100;
}
/* footer part start */
footer {
    padding: 40px 0px;
    text-align: center;
    background: #03041f;
    color: white;
    line-height: 29px;
}
footer a {
    margin-right: 15px;
    color: white;
    background: #2e67ff;
    height: 40px;
    width: 40px;
    display: inline-block;
    border-radius: 20px;
    padding: 5px;
    margin-top: 15px;
}